* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

@font-face {
    font-family: Inter__Medium;
    src: url('../Fonts/Inter/static/Inter-Medium.ttf');
}

@font-face {
    font-family: Inter__SemiBold;
    src: url('../Fonts/Inter/static/Inter-SemiBold.ttf');
}

@font-face {
    font-family: Inter__Bold;
    src: url('../Fonts/Inter/static/Inter-Bold.ttf');
}

@font-face {
    font-family: Lato__Regular;
    src: url('../Fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato__Bold;
    src: url('../Fonts/Lato/Lato-Bold.ttf');
}

.column-aside {
    height: auto;
    padding: 30px 80px;
}

table.dataTable {
    border: 1px solid rgba(214, 214, 214, 1);
    padding: 20px 30px 100px 30px;
    border-radius: 20px;
}

div.dataTables_wrapper div.dataTables_info {
    display: none;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    right: 1em;
    content: "";
    display: none !important;
}

table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "";
    display: none !important;
}

.form-select {
    border: 1px dashed rgba(0, 0, 0, 1);
    border-radius: 12px;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: none;
}

tbody, td, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}

.table th {
    border-bottom: rgba(199, 199, 199, 1) solid 1px !important;
}

.column-aside p {
    font-family: 'Inter__SemiBold';
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.03em;
    color: rgba(40, 40, 40, 1);
}

.form-select:focus {
    border-color: rgba(0, 0, 0, 1);
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgba(101, 101, 101, 1);
    outline: none !important;
    box-shadow: none;
}

.form-control {
    color: #212529;
    background-color: #fff;
    border: 1px dashed rgba(101, 101, 101, 1);
    border-radius: 12px;
    outline: none !important;
    box-shadow: none;
}

#example_filter .form-control {
    width: 300px !important;
}

.page-link {
    position: relative;
    display: block;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: none;
    transition: none !important;
    border-radius: 10px;
}

.page-link:focus {
    z-index: 3;
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    color: transparent;
    background-color: transparent;
    background-image: url('../Assets/fast-forward 2.png');
    background-repeat: no-repeat;
    transform: translate(50px, 10px);
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    color: transparent;
    background-color: transparent;
    background-image: url('../Assets/fast-forward 1.png');
    background-repeat: no-repeat;
    transform: translate(12px, 10px);
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0 px;
    white-space: nowrap;
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 118px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    position: absolute;
    right: 0px;
    bottom: 4px;
}

#example_wrapper .row {
    position: relative;
    top: 0px;
}

.page-item.active .page-link {
    z-index: 3;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(226, 226, 226, 1);
    border-color: #0d6efd;
}

.table__content__new th {
    color: rgba(115, 115, 115, 1);
    font-family: 'Inter__Medium';
    font-size: calc(10pt + 0.15vw);
    font-weight: 500;
}

.table__content__new td {
    color: rgba(40, 40, 40, 1);
    font-family: 'Inter__Medium';
    font-size: calc(9pt + 0.15vw);
}

.icons_di img {
    margin: 0px 5px;
    transition: .3s ease-in-out;
}

.dataTables_length label {
    font-family: 'Inter__Medium';
    font-size: calc(8pt + 0.15vw);
    color: rgba(118, 118, 118, 1);
}

.dataTables_length select {
    color: rgba(40, 40, 40, 1);
    font-family: 'Inter__Medium';
    font-size: calc(8pt + 0.15vw);
}

.dataTables_filter input {
    color: rgba(40, 40, 40, 1);
    font-family: 'Inter__Medium';
    font-size: calc(9pt + 0.15vw);
}

.icons_di img:hover {
    transition: .3s ease-in-out;
    transform: translateY(-2px);
}

@media screen and (max-width:1080px) {
    .column-aside {
        padding: 30px 10px;
    }
}

@media screen and (max-width:640px) {
    .column-aside {
        padding: 30px 0px;
    }
    .column-aside p {
        padding: 0px 10px;
    }
    .dataTables_length {
        margin: 10px;
    }
    .icons_di {
        white-space: nowrap;
    }
}

@media screen and (max-width:538px) {
    .table__content__new {
        width: 60%;
        overflow-x: scroll;
    }
}



@media screen and (min-width: 1920px) {
    .wappers{
        max-width: 1920px;
    }
}